form,fieldset{border:0;font-weight:400;margin:0;padding:0;}
html{font-family:Arial, Helvetica, sans-serif;font-size:100%;}
body{font-size:75%;line-height:1.3;background:#f7f7f7;color:#202020;}
#container{border:4px solid #fff;min-width:959px;max-width:1220px;border-width:0 4px 4px;margin:0 auto;}
 
#content{width:931px;min-height:600px;border-bottom:1px solid #fff;margin:0 auto;padding:25px 0;}
 
.btWrapper{margin-bottom:15px;}
.btWrapper a{display:inline-block;height:34px;line-height:34px;vertical-align:middle;font-size:1.2em;text-decoration:none;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:0 20px;}
.btWrapper .primaryBt{float:right;color:#fff;cursor:pointer;background:#40A497 repeat-x top;background-image:linear-gradient(top,#f54ba3,#f54ba350%,#40A49750%,#40A497);}
.btWrapper .secondBt{float:left;color:#fff;cursor:pointer;background:#40A497  repeat-x top;}
 
.bskStep h1{font-size:1em;font-weight:700;color:#fff;background:#40A497;text-transform:uppercase;padding:5px 10px;}

.stepBloc{margin-bottom:30px;border:1px solid #f7f7f7;background:#fff;color:#666;border-width:3px 1px;padding:25px 25px 15px;}

.requiredFields{float:right;color:#ff3000;}

#addressForm.obj_form fieldset{clear:both;}
#addressForm.obj_form fieldset p{display:inline-block;vertical-align:top;width:416px;padding:0 10px 15px;}
#addressForm.obj_form fieldset label{display:block;padding-bottom:5px;}

.obj_form fieldset label span{font-weight:700;color:#ff3000;}
#addressForm.obj_form fieldset label .infoForm{float:right;padding-right:4px;font-size:.9em;font-weight:400;color:#777;}
#addressForm.obj_form fieldset input[type=radio]{border:none;}
#addressForm.obj_form fieldset input{padding-left:4px;padding-right:4px;width:402px;height:22px;line-height:22px;font-size:1em;}
#addressForm.obj_form fieldset input[disabled=disabled]{background:#fff;color:#6d6d6d;}
#addressForm.obj_form fieldset select{padding-left:4px;width:412px;height:26px;font-size:1em;}

